<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Record</title>
</head>
<body>
    <h1>Create New Record</h1>
    <form action="{{ url_for('create') }}" method="POST">
        <label>Rank: <input type="text" name="rank"></label><br>
        <label>Fullname: <input type="text" name="fullname"></label><br>
        <label>Position: <input type="text" name="position" ></label><br>
        <label>Unit: <input type="text" name="unit" ></label><br>
        <label>Deployment Status: <input type="text" name="deploymentstatus" required></label><br>
        <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
